h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
	size: 12px;
}

.uploadcontainer{
	background-color: bisque;
	padding: 20px;
}

.generic-container {
	width:90%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.floatRight{
	float:right;
	margin-right: 18px;
}